body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../../../assets/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: -1;
  width: 100%;
  height: 100%;
}
