* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #000000, #434343);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  border: none;
  left: 0;
  box-shadow: inset 0 -3em 3em rgba(223, 208, 208, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(206, 174, 174, 0.3);
  background-image: linear-gradient(#3c3b3f, #605c3c);
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  margin-top: 20px;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease-out;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 600px;
  margin-top: 100px;
  padding-left: 20px;
}

.postcard {
  box-shadow: inset 0 -3em 3em rgba(223, 208, 208, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(206, 174, 174, 0.3);
  background-image: linear-gradient(#3c3b3f, #605c3c);
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  border: none;
  display: block;
  left: 0px;
  transform: translate(-5%);
  float: left;
  width: 80%;
  min-height: 60vh;
  .postImage {
    position: absolute;
    width: 50%;
    height: 40%;
    float: left;
    display: inline-block;
    img {
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      float: left;
    }
  }
  #submit {
    position: absolute;
    float: left;
    top: 30%;
    width: 15%;
    right: 0;
    margin: 5px;
    height: 30px;
  }
  form {
    top: 40%;
    position: absolute;
    width: 100%;
    height: 60%;
    textarea {
      box-shadow: inset 0 -3em 3em rgba(223, 208, 208, 0.1),
        0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(206, 174, 174, 0.3);
      position: absolute;
      width: 90%;
      height: 80%;
      font-size: 20px;
      font-weight: 200;
      text-indent: 10px;
      background-image: linear-gradient(#3e5151, #decba4);
      border: 3px gray solid;
      display: block;
      margin: 10px;
      transform: translate(4%);
    }
    input {
      position: absolute;
      height: 10%;
      display: block;
    }
  }
}
input {
  color: #d0c8e6;
  background-color: rgba(206, 174, 174, 0.3);
  font-weight: 400;
  border: none;
  text-align: center;
  padding: 0.1rem 1rem;
  transition: all 0.5s ease-out;
  border-radius: 10px;
  &:hover {
    background-color: darken(#659999, 9);
    color: black;
  }
}

#clear {
  top: 88%;
}
.active {
  background-color: #ddd;
  color: black;
}
.custom-file-input {
  position: absolute;
  right: 0;
  top: 88%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  position: absolute;
  right: 0;
  top: 88%;
  margin: 40px;
  margin-left: 40px;
  transform: translate(100%);
  transition: all 0.5s ease-out;
  content: "Choose an Image";
  display: inline-block;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 1.25em;
  font-weight: 400;
  color: white;
  background-color: inherit;
}
.custom-file-input:hover::before {
  background-color: darken(#659999, 9);
}
